@{
    ViewBag.Title = "About Kete";
}
<div class="jumbotron">
    <h1>What is Te Kete Aronui?</h1>
    <p>
        Kete Aronui is known as the basket of knowledge of aroha, peace and the arts and crafts which benefit the Earth and all living things - one of the three baskets of knowledge.
        This basket relates to knowledge acquired through careful observation of the environment.
        It is also the basket of ritual, of literature, philosophy and is sometimes regarded as the basket of the humanities. 
    </p>
</div>



<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Kete Aronui is known as the basket of knowledge of aroha, peace and the arts and crafts which benefit the Earth and all living things - one of the three baskets of knowledge.
        This basket relates to knowledge acquired through careful observation of the environment.
        It is also the basket of ritual, of literature, philosophy and is sometimes regarded as the basket of the humanities.</p>



@*<div class="jumbotron">
    <h1>Kete</h1>
    <p class="lead">
        Welcome to Te Kete Aronui, the formally known CASScaid. The Kete Aronui or the basket of knowledge is being used
        for the purposes of bringing you the most up to date and relevant information on a regular basis.
    </p>
    <p><a href="~/Views/Home/About.cshtml" class="btn btn-primary btn-lg">Learn more about Kete &raquo;</a></p>
</div>*@