@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Central Agencies Shared Services - IM Information Services<br />
    Level 5 (Reception)<br />
    1 The Terrace<br />
    Wellington 6011<br />
    NEW ZEALAND<br />
    <abbr title="Phone">Ph:</abbr>
    +64 4 472 2733
</address>

<address>
    <strong>Link Support:</strong> <a href="mailto:infohelp@cass.govt.nz">infohelp@cass.govt.nz</a><br />
    <strong>Information:</strong> <a href="mailto:info@treasury.govt.nz">General Information</a>
</address>